<!--Prize List Modal -->
<div class="modal fade" id="prizeModal" tabindex="-1" role="dialog" aria-labelledby="prizeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="prizeModalLabel">Prize List</h5>
                <button type="button" class="close text-white" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- Add new prize -->
                <div class="form-inline mb-3">
                    <input type="text" id="newPrizeName" class="form-control mr-2" placeholder="Prize name" />
                    <input type="number" id="newPrizeQty" class="form-control d-inline w-25" placeholder="Qty" />
                    <button id="addPrizeBtn" class="btn btn-success btn-sm" style="margin-left:10px">Add</button>
                </div>

                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th style="width:105px;">Action</th>
                        </tr>
                    </thead>
                    <tbody id="prizeBody">
                        <tr><td colspan="3">Loading...</td></tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>